---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="KFC tiene la receta secreta del mejor pollo frito - KFC Colombia">
	<main>
		<Slider/>
		<Menu/>
	</main>
</Layout>
