<div class="bg-gray-50 font-sans">
    <div class="max-w-6xl mx-80 py-8">
        <h1 class="text-2xl font-bold text-gray-900 mb-8">
            HOLA, BIENVENIDO/A A KFC COLOMBIA
        </h1>

        <div class="flex flex-col md:flex-row gap-8">
            <div class="w-full md:w-1/3 rounded-lg shadow p-4">
                <div class="flex items-center gap-4 py-3 border-b">
                    <div
                        class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-full"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                            ><path
                                fill="currentColor"
                                d="M11 9H9V2H7v7H5V2H3v7c0 2.12 1.66 3.84 3.75 3.97V22h2.5v-9.03C11.34 12.84 13 11.12 13 9V2h-2zm5-3v8h2.5v8H21V2c-2.76 0-5 2.24-5 4"
                            ></path></svg
                        >
                    </div>
                    <button class="text-gray-800 font-medium text-lg"
                        >Pedidos</button
                    >
                </div>
                <div class="flex items-center gap-4 py-3 border-b">
                    <div
                        class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-full"
                    >
                        <svg
                            width="14"
                            height="16"
                            viewBox="0 0 14 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M7.30768 0.130253C3.65745 -0.0415753 0.625 2.88178 0.625 6.49799V8.56051V10.8105C0.625 11.8873 1.45483 12.7726 2.50881 12.8635C2.60189 14.3278 3.82592 15.4981 5.31255 15.4981H5.69268C5.86403 15.7243 6.13269 15.8731 6.43756 15.8731H7.56257C8.07932 15.8731 8.50008 15.4527 8.50008 14.9356C8.50008 14.4184 8.07932 13.9981 7.56257 13.9981H6.43756C6.13269 13.9981 5.86403 14.1469 5.69268 14.3731H5.31255C4.43805 14.3731 3.73646 13.7208 3.64334 12.8731H4.18754C4.49841 12.8731 4.75004 12.6211 4.75004 12.3106V8.56051C4.75004 8.25001 4.49841 7.99801 4.18754 7.99801H1.75001V6.49799C1.75001 3.50739 4.22863 1.11138 7.25422 1.2538C10.0722 1.3863 12.2501 3.82047 12.2501 6.66206V7.99801H9.81259C9.50171 7.99801 9.25009 8.25001 9.25009 8.56051V12.3106C9.25009 12.6211 9.50171 12.8731 9.81259 12.8731H11.3126C12.45 12.8731 13.3751 11.9475 13.3751 10.8105V7.99801V6.66206C13.3751 3.24408 10.7426 0.291759 7.30768 0.130253Z"
                                fill="#262329"></path>
                        </svg>
                    </div>
                    <button class="text-gray-800 font-medium text-lg"
                        >Contactos</button
                    >
                </div>
                <div class="flex items-center gap-4 py-3">
                    <div
                        class="flex items-center justify-center w-12 h-12 bg-gray-100 rounded-full"
                    >
                        <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M15.7501 2.25001V12.0001H11.2501V16.5001H3.00001C2.80109 16.5001 2.61033 16.4211 2.46967 16.2805C2.32902 16.1398 2.25 15.9491 2.25 15.7501V2.25001C2.25 2.05109 2.32902 1.86033 2.46967 1.71967C2.61033 1.57902 2.80109 1.5 3.00001 1.5H15.0001C15.199 1.5 15.3898 1.57902 15.5305 1.71967C15.6711 1.86033 15.7501 2.05109 15.7501 2.25001ZM12.7501 16.5001L15.7501 13.5001H12.7501V16.5001Z"
                                fill="#262329"></path>
                        </svg>
                    </div>
                    <button class="text-gray-800 font-medium text-lg"
                        >Términos legales</button
                    >
                </div>
            </div>

            <!-- Panel de contenido -->
            <div class="w-full md:w-2/3 bg-white rounded-lg shadow p-6">
                <!-- Botón de Atrás -->
                <div class="flex items-center text-black mb-6">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20px"
                        height="20px"
                        viewBox="0 0 512 512"
                        ><path
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="48"
                            d="M328 112L184 256l144 144"></path></svg
                    ><button class="font-bold">Atrás</button>
                </div>
                <h2 class="text-lg font-bold text-black mb-2">CONTACTO</h2>
                <p class="text-black mb-6">
                    Contáctate con nuestros canales de soporte para recibir
                    ayuda sobre tu caso.
                </p>
                <div
                    class="flex items-center gap-4 bg-gray-100 rounded-full p-4 mb-4"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20px"
                        height="20px"
                        viewBox="0 0 26 26"
                        ><path
                            fill="currentColor"
                            d="M22.386 18.026c-1.548-1.324-3.119-2.126-4.648-.804l-.913.799c-.668.58-1.91 3.29-6.712-2.234c-4.801-5.517-1.944-6.376-1.275-6.951l.918-.8c1.521-1.325.947-2.993-.15-4.71l-.662-1.04C7.842.573 6.642-.552 5.117.771l-.824.72c-.674.491-2.558 2.087-3.015 5.119c-.55 3.638 1.185 7.804 5.16 12.375c3.97 4.573 7.857 6.87 11.539 6.83c3.06-.033 4.908-1.675 5.486-2.272l.827-.721c1.521-1.322.576-2.668-.973-3.995z"
                        ></path></svg
                    >
                    <p class="text-black font-medium">Teléfono: 3009120963</p>
                </div>
                <div class="flex items-center gap-4 bg-gray-100 rounded-full p-4">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20px"
                        height="20px"
                        viewBox="0 0 24 24"
                        ><path
                            fill="currentColor"
                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z"
                        ></path></svg
                    >
                    <p class="text-black font-medium">Correo electrónico:</p>
                </div>
            </div>
        </div>
    </div>
</div>
