<div>
    <div>
        <div class="mx-80 text-3xl uppercase">
            <h2>Hola, bienvenido/a a kfc colombia</h2>
        </div>
        <div class="mx-80">
            <div>
                <div class="inline-flex">
                    <svg
                        width="14"
                        class="bg-red-500 rounded-full m-10"
                        height="16"
                        viewBox="0 0 14 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        ><path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M10.0001 3.49808V7.99812C10.0001 8.82313 10.6751 9.49814 11.5001 9.49814H12.2501V14.7482C12.2501 15.1607 12.5876 15.4982 13.0001 15.4982C13.4126 15.4982 13.7501 15.1607 13.7501 14.7482V1.34556C13.7501 0.85805 13.2926 0.498047 12.8201 0.610548C11.2001 1.00805 10.0001 2.38057 10.0001 3.49808ZM6.25006 5.7481H4.75004V1.24805C4.75004 0.83555 4.41254 0.498047 4.00004 0.498047C3.58753 0.498047 3.25003 0.83555 3.25003 1.24805V5.7481H1.75002V1.24805C1.75002 0.83555 1.41251 0.498047 1.00001 0.498047C0.587503 0.498047 0.25 0.83555 0.25 1.24805V5.7481C0.25 7.40562 1.59251 8.74813 3.25003 8.74813V14.7482C3.25003 15.1607 3.58753 15.4982 4.00004 15.4982C4.41254 15.4982 4.75004 15.1607 4.75004 14.7482V8.74813C6.40756 8.74813 7.75007 7.40562 7.75007 5.7481V1.24805C7.75007 0.83555 7.41257 0.498047 7.00007 0.498047C6.58756 0.498047 6.25006 0.83555 6.25006 1.24805V5.7481Z"
                            fill="#262329"></path></svg>
                </div>Pedidos
            </div>
            <div>Contactos</div>
            <div>Términos legales</div>
        </div>
    </div>
</div>
