<div>
    <h1 class="font-extrabold text-4xl pl-12">MENÚ</h1>
</div>

<div class="mt-12 container mx-auto grid grid-cols-6 gap-6">
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_047FF638-5057-EE11-A98D-000D3A0D463B_744x744_1695171259_1712773862.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            NUGGETS
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_6510996C-A4C4-EC11-A985-000D3A0D463B_720x720_1677109442_1712773832.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            MEGAS
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_1C111CD0-CEFF-E911-A958-000D3A0D463B_744x744_1719421979_1719526652.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            COMBOS
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_1A111CD0-CEFF-E911-A958-000D3A0D463B_744x744_1719421874_1719527312.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            BOXES
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_F05FCFAB-E98E-E911-A950-000D3A0D463B_744x744_1719422022_1719526592.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            PARA DOS PERSONAS
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_6DE84EE0-CEFF-E911-A958-000D3A0D463B_100x100_1681235007_1712773832.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            SANDWICHES
        </p>
    </div>
</div>

<div class="mt-12 container mx-auto grid grid-cols-6 gap-6 ">
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_C760CC7D-A4C4-EC11-A985-000D3A0D463B_100x100_1681235059_1712773832.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            INDIVIDUALES
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_2D34D757-A6C4-EC11-A985-000D3A0D463B_744x744_1720014634_1720039862.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            BEBIDAS Y COMPLEMENTOS 
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_9EEE67F8-CEFF-E911-A958-000D3A0D463B_744x744_1681340199_1712773862.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            POSTRES
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_05694E37-AC84-ED11-A988-000D3A0D463B_744x744_1719336501_1719424352.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            KRUNCKY POPS
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_22B8E6FA-5486-EF11-A9AD-000D3A0D463B_744x744_1728488506_1728993713.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            NOCHES KFC
        </p>
    </div>
    <div class="bg-white shadow shadow-slate-200 rounded-lg p-4">
        <div
            class="bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/95e19b237e8be472_4C23DB86-BA65-ED11-A987-000D3A0D463B_744x744_1710350132_1712773862.png?d=300x300&format=webp')] bg-center bg-cover h-48 w-48 mx-auto rounded-md"
        >
        </div>
        <p
            class="text-black text-sm font-bold bg-slate-100 text-center py-1 rounded-lg"
        >
            NOCHES GAMING
        </p>
    </div>
</div>

<div>
    <div class="mt-12 container grid grid-cols-2">
        <div class="w-full flex flex-col justify-center items-centers md:flex-row gap-5 mt-10 md:mt-20">
            <div class="h-[400px] w-[600px] rounded-lg bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/uaksvtvzwapm7bgyaak7ldloneqc.webp?format=webp')] bg-cover bg-center mx-auto">

            </div>
        </div>
        <div>
            <div
                class="h-[400px] w-[600px] rounded-lg bg-[url('https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/f4t9ia495m3iknrqqcpini96z5qm.webp?format=webp')] bg-cover bg-center mx-auto"
            >
            </div>
        </div>
    </div>
</div>
