<div class="flex justify-center py-7">
        <button class="bg-red-600 rounded-full flex items-center justify-center px-4 py-2  text-white "
            ><span class="font-medium">Ver Menú</span></button
        ></a>
        
</div>
<div>
    <h2 class="mx-16 font-bold text-4xl pl-12">MENÚ</h2>
</div>

<div class="max-w-[1440px] mx-auto px-4 xl:px-20 pb-10 md:pb-20">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-10 mt-7">
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_CFFA0604-8DBC-EA11-A964-000D3A0D463B_744x744_1703359445.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-black text-center my-6">
                <strong>CHICKEN WEEK</strong>
            </h5>
        </div><div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_09149E59-C8A5-EF11-A9B1-000D3A0D463B_744x744_1731946554.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>SANDWICH EN DESCUENTO</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_67777968-B365-ED11-A987-000D3A0D463B_744x744_1731613276.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>MEGA NAVIDAD</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_047FF638-5057-EE11-A98D-000D3A0D463B_744x744_1695171259.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>NUGGETS</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_6510996C-A4C4-EC11-A985-000D3A0D463B_720x720_1677109442.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>MEGAS</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_1C111CD0-CEFF-E911-A958-000D3A0D463B_744x744_1719421979.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>COMBOS</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_1A111CD0-CEFF-E911-A958-000D3A0D463B_744x744_1719421874.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>BOXES</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_F05FCFAB-E98E-E911-A950-000D3A0D463B_744x744_1719422022.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>PARA 2 PERSONAS</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_6DE84EE0-CEFF-E911-A958-000D3A0D463B_100x100_1681235007.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>SANDWICHES</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_C760CC7D-A4C4-EC11-A985-000D3A0D463B_100x100_1681235059.png?d=300x300&format=webp"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>INDIVIDUALES</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_2D34D757-A6C4-EC11-A985-000D3A0D463B_744x744_1720014634.png?d=300x300&format=webp"
                    alt="Bebidas y complementos"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>BEBIDAS Y COMPLEMENTOS</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_9EEE67F8-CEFF-E911-A958-000D3A0D463B_744x744_1681340199.png?d=300x300&format=webp"
                    alt="Postres"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>POSTRES</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_05694E37-AC84-ED11-A988-000D3A0D463B_744x744_1719336501.png?d=300x300&format=webp"
                    alt="Krunchy promos"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>KRUNCKY PROMOS</strong>
            </h5>
        </div>
        <div
            class="flex flex-col category-item rounded-tl rounded-tr border-b h-full hover:scale-105 transition"
        >
            <div class="min-h-40 h-full">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_4C23DB86-BA65-ED11-A987-000D3A0D463B_744x744_1710350132.png?d=300x300&format=webp"
                    alt="KFC gaming"
                    class="rounded"
                />
            </div>
            <h5 class="text-base text-center my-3">
                <strong>KFC GAMING</strong>
            </h5>
        </div>
    </div>
</div><div
    class="w-full flex flex-col justify-center items-centers md:flex-row gap-5 mt-10 md:mt-20"
>
    <a class="w-400 h-400" href=""
        ><img
            class="w-full max-h-48 md:max-h-80 object-cover rounded-2xl"
            src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/uaksvtvzwapm7bgyaak7ldloneqc.webp?format=webp"
            alt="Blog KFC"
            loading="lazy"
            width="400"
            height="400"
        /></a
    ><a
        class="max-w-400 h-400"
        href="https://www.kfc.co/menu/hambre-de-promos-05694E37-AC84-ED11-A988-000D3A0D463B"
        ><img
            class="w-full max-h-48 md:max-h-80 object-cover rounded-2xl"
            src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/f4t9ia495m3iknrqqcpini96z5qm.webp?format=webp"
            alt="Krunchy Promos"
            loading="lazy"
            width="400"
            height="400"
        /></a
    >
</div>
