<section
    class="flex flex-col sm:flex-row items-center justify-center gap-5 sm:gap-16"
>
    <div class="text-center sm:text-left mb-3">
        <h2 class="text-6xl">SABEMOS QUE TE GUSTA</h2><h2 class="text-6xl">
            NUESTRO POLLO
        </h2><h2 class="text-6xl">TE DECIMOS POR QUÉ.</h2>
    </div><img
        src="https://images.getduna.com/ecommerce/kfc/colonel-cooking.png"
        alt="Coronel Sanders cocinando"
        class="max-w-52 sm:max-w-64 md:max-w-72 lg:max-w-none"
        width="350"
        height="435"
    />
</section>
<div  class="bg-slate-50 pt-8 pb-20 md:pb-0">
    <div class="max-w-72 mx-80">
        <h2 class="text-xl font-bold ">SOBRE KFC</h2>
        <div class="text-slate-600">
            Nuestro pollo es único, prácticamente nosotros lo inventamos. Si en
            algún momento hacen un salón de la fama de la comida, nuestro pollo
            estaría primero.
        
        </div>
        <div class="bg-red-500 pt-8 pb-400 md:pb-20 my-10">
            <h2 class="text-white font-bold">SABEMOS QUE LO HACEMOS BIEN POR QUE NO ES FACIL</h2>
            <h2 class="text-white">Nuestros cocineros expertos apanan nuestro pollo a mano todos los días.</h2>
        </div>
    </div>
</div>

