<menú class="bg-white border-b border-gray-200">
    <div class="containebutton mx-6">
        <ul
            class="flex items-center space-x-6 text-sm font-semibold text-gray-900"
        >
            <button class="text-red-500 border-b-2 border-red-500"
                >CHICKEN WEEK</button
            >
            <button class="hover:text-red-500">SANDWICH EN DESCUENTO</button>
            <button class="hover:text-red-500">MEGA NAVIDAD</button>
            <button class="hover:text-red-500">NUGGETS</button>
            <button class="hover:text-red-500">MEGAS</button>
            <button class="hover:text-red-500">COMBOS</button>
            <button class="hover:text-red-500">BOXES</button>
            <button class="hover:text-red-500">PARA 2 PERSONAS</button>
            <button class="hover:text-red-500">SANDWICHES</button>
            <button class="hover:text-red-500">INDIVIDUALES</button>
            <button class="hover:text-red-500">BEBIDAS Y COMPLEMENTOS</button>
            <button class="hover:text-red-500">POSTRES</button>
            <button class="hover:text-red-500">KRUNCKY PROMOS</button>
            <button class="hover:text-red-500">KFC GAMING</button>
        </ul>
    </div>
</menú>
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-3xl font-bold text-gray-900">CHICKEN WEEK</h1>
        </div>
        <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_5935_720x720_1684697761.png?d=300x300&format=webp"
                    alt="20 Alitas Picantes"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-4 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$24.900</p>
                    <p class="text-sm font-bold uppercase">
                        20 alitas picantes
                    </p>
                    <p class="text-xs text-gray-500">
                        20 Alitas Picantes (Las alitas picantes hot wings equivalen a...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6097_744x744_1715880268.png?d=300x300&format=webp"
                    alt="Combo 3 Presas"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-4 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$19.900</p>
                    <p class="text-sm font-bold uppercase">
                        Combo 3 Presas
                    </p>
                    <p class="text-xs text-gray-500">
                        3 Presas de Pollo + 1 Papa Pequeña + 1 Gaseosa PET 400ml
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6373_744x744_1731681667.png?d=300x300&format=webp"
                    alt="Mega Navidad"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-4 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$64.900</p>
                    <p class="text-sm font-bold uppercase">
                        Mega Navidad
                    </p>
                    <p class="text-xs text-gray-500">
                        6 Presas + 6 alitas picantes (Las alitas picantes equivalen a ...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6785_744x744_1705683806.png?d=300x300&format=webp"
                    alt="Promo Big Box Coronel Sundae"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-4 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$22.900</p>
                    <p class="text-sm font-bold uppercase">
                        Promo Big Box Coronel Sundae
                    </p>
                    <p class="text-xs text-gray-500">
                        1 Kentucky Coronel Sandwich + 1 Pop Corn Pequeño+ 1 Papa...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_7336_744x744_1723738277.png?d=300x300&format=webp"
                    alt="Wow Duo Deluxe Nuggets"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-4 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$39.900</p>
                    <p class="text-sm font-bold uppercase">
                        Wow Duo Deluxe Nuggets
                    </p>
                    <p class="text-xs text-gray-500">
                        2 Sandwich Deluxe BBQ (Pan brioche, pechuga de 120gr,...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_7485_744x744_1729281208.png?d=300x300&format=webp"
                    alt="Wow Bucket 7"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-4 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$54.900</p>
                    <p class="text-sm font-bold uppercase">
                        Wow Bucket 7
                    </p>
                    <p class="text-xs text-gray-500">
                        7 Presas de Pollo + 2 PopCorn Mediano + 3 Papa Pequeña
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
    </div>
</div>
