<menú class="bg-white border-b border-gray-200">
    <div class="containebutton mx-6">
        <ul
            class="flex items-center space-x-6 text-sm font-semibold text-gray-900"
        >
            <button class="text-red-500 border-b-2 border-red-500"
                >CHICKEN WEEK</button
            >
            <button class="hover:text-red-500">SANDWICH EN DESCUENTO</button>
            <button class="hover:text-red-500">MEGA NAVIDAD</button>
            <button class="hover:text-red-500">NUGGETS</button>
            <button class="hover:text-red-500">MEGAS</button>
            <button class="hover:text-red-500">COMBOS</button>
            <button class="hover:text-red-500">BOXES</button>
            <button class="hover:text-red-500">PARA 2 PERSONAS</button>
            <button class="hover:text-red-500">SANDWICHES</button>
            <button class="hover:text-red-500">INDIVIDUALES</button>
            <button class="hover:text-red-500">BEBIDAS Y COMPLEMENTOS</button>
            <button class="hover:text-red-500">POSTRES</button>
            <button class="hover:text-red-500">KRUNCKY PROMOS</button>
            <button class="hover:text-red-500">KFC GAMING</button>
        </ul>
    </div>
</menú>
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="mx-40 text-3xl font-bold text-gray-900">CHICKEN WEEK</h1>
        </div>
        <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_5935_720x720_1684697761.png?d=300x300&format=webp"
                    alt="20 Alitas Picantes"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$24.900</p>
                    <p class="text-sm font-bold uppercase">
                        20 alitas picantes
                    </p>
                    <p class="text-xs text-gray-500">
                        20 Alitas Picantes (Las alitas picantes hot wings
                        equivalen a...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6097_744x744_1715880268.png?d=300x300&format=webp"
                    alt="Combo 3 Presas"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$19.900</p>
                    <p class="text-sm font-bold uppercase">Combo 3 Presas</p>
                    <p class="text-xs text-gray-500">
                        3 Presas de Pollo + 1 Papa Pequeña + 1 Gaseosa PET 400ml
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6373_744x744_1731681667.png?d=300x300&format=webp"
                    alt="Mega Navidad"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$64.900</p>
                    <p class="text-sm font-bold uppercase">Mega Navidad</p>
                    <p class="text-xs text-gray-500">
                        6 Presas + 6 alitas picantes (Las alitas picantes
                        equivalen a ...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6785_744x744_1705683806.png?d=300x300&format=webp"
                    alt="Promo Big Box Coronel Sundae"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$22.900</p>
                    <p class="text-sm font-bold uppercase">
                        Promo Big Box Coronel Sundae
                    </p>
                    <p class="text-xs text-gray-500">
                        1 Kentucky Coronel Sandwich + 1 Pop Corn Pequeño+ 1
                        Papa...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_7336_744x744_1723738277.png?d=300x300&format=webp"
                    alt="Wow Duo Deluxe Nuggets"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$39.900</p>
                    <p class="text-sm font-bold uppercase">
                        Wow Duo Deluxe Nuggets
                    </p>
                    <p class="text-xs text-gray-500">
                        2 Sandwich Deluxe BBQ (Pan brioche, pechuga de 120gr,...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_7485_744x744_1729281208.png?d=300x300&format=webp"
                    alt="Wow Bucket 7"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$54.900</p>
                    <p class="text-sm font-bold uppercase">Wow Bucket 7</p>
                    <p class="text-xs text-gray-500">
                        7 Presas de Pollo + 2 PopCorn Mediano + 3 Papa Pequeña
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-50">
        <div class="container mx-auto px-4 py-8">
            <div class="flex justify-between items-center mb-6">
                <h1 class="mx-40 text-3xl font-bold text-gray-900">
                    SANDWICH EN DESCUENTO
                </h1>
            </div>
            <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_4720_744x744_1719333547.png?d=300x300&format=webp"
                        alt="Combo Kentucky Sandwich"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 20.900</p>
                        <p class="text-sm font-bold uppercase">
                            Combo Kentucky Sandwich
                        </p>
                        <p class="text-xs text-gray-500">
                            1 Kentucky hamburguesa /Sandwich (1 Filete de
                            pechuga...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_5281_744x744_1719333929.png?d=300x300&format=webp"
                        alt="Combo Kentucky Coronel Sandwich"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 22.900</p>
                        <p class="text-sm font-bold uppercase">
                            Combo Kentucky Coronel Sandwich
                        </p>
                        <p class="text-xs text-gray-500">
                            1 Kentucky Coronel hamburguesa / Sandwich (1 Filete
                            de pechuga...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_5475_744x744_1654090087.png?d=300x300&format=webp"
                        alt="Combo Kentucky Sand. Deluxe"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 23.900</p>
                        <p class="text-sm font-bold uppercase">
                            Combo Kentucky Sand. Deluxe
                        </p>
                        <p class="text-xs text-gray-500">
                            1 Kentucky Deluxe Sandwich (1 Filete de pechuga de
                            pollo...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6219_744x744_1719334030.png?d=600x600&format=webp"
                        alt="Combo Sandwich Crispy BBQ"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 28.900</p>
                        <p class="text-sm font-bold uppercase">
                            Combo Sandwich Crispy BBQ
                        </p>
                        <p class="text-xs text-gray-500">
                            1 Sandwich Crispy BBQ (1 Filete de pechuga extra
                            grande, triple...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="mx-40 text-3xl font-bold text-gray-900">MEGA NAVIDAD</h1>
        </div>
        <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_3817_744x744_1730236555.png?d=600x600&format=webp"
                    alt="Parte y Comparte Alas"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 46.900</p>
                    <p class="text-sm font-bold uppercase">
                        Parte y Comparte Alas
                    </p>
                    <p class="text-xs text-gray-500">
                        4 Presas de Pollo + 6 Alitas Picantes (Las alitas
                        picantes equivalen...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6618_744x744_1731618284.png?d=600x600&format=webp"
                    alt="Mega Navidad"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 76.900</p>
                    <p class="text-sm font-bold uppercase">Mega Navidad</p>
                    <p class="text-xs text-gray-500">
                        6Presas + 6Alitas(Las alitas picantes hot wings
                        equivalen...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6898_744x744_1708530418.png?d=600x600&format=webp"
                    alt="Trio Supremo"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 56.900</p>
                    <p class="text-sm font-bold uppercase">Trio Supremo</p>
                    <p class="text-xs text-gray-500">
                        4 Presas de Pollo + 9 Alitas Picantes (Las alitas
                        picantes...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="mx-40 text-3xl font-bold text-gray-900">NUGGETS</h1>
        </div>
        <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6499_744x744_1719960030.png?d=600x600&format=webp"
                    alt="Parte Y Comparte Nuggets"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 39.900</p>
                    <p class="text-sm font-bold uppercase">
                        Parte Y Comparte Nuggets
                    </p>
                    <p class="text-xs text-gray-500">
                        10 Nuggets + 10 Alitas (Las alitas picantes hot wings...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6492_744x744_1719959826.png?d=600x600&format=webp"
                    alt="Combo Nuggets"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 19.9000</p>
                    <p class="text-sm font-bold uppercase">Combo Nuggets</p>
                    <p class="text-xs text-gray-500">
                        10 Nuggets + 1 Papa Pequeña + 1 Gaseosa Pet 400ml ...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6502_744x744_1699894717.png?d=600x600&format=webp"
                    alt="Adicion 5 nuggets"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 9.900</p>
                    <p class="text-sm font-bold uppercase">Adicion 5 nuggets</p>
                    <p class="text-xs text-gray-500">5 Nuggets</p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6505_744x744_1699894754.png?d=600x600&format=webp"
                    alt="Adicion 10 Nuggets"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 14.900</p>
                    <p class="text-sm font-bold uppercase">
                        Adicion 10 Nuggets
                    </p>
                    <p class="text-xs text-gray-500">10 Nuggets</p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6759_744x744_1719959911.png?d=600x600&format=webp"
                    alt="Combo 5 Nuggets"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 56.900</p>
                    <p class="text-sm font-bold uppercase">Combo 5 Nuggets</p>
                    <p class="text-xs text-gray-500">
                        5 Nuggets + 1 Papa Pequeña + 1 Gaseosa Pet 400ml + 1
                        Salsa de Coronel
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="mx-40 text-3xl font-bold text-gray-900">MEGAS</h1>
        </div>
        <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_3811_744x744_1729619498.png?d=600x600&format=webp"
                    alt="Mega 3"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 70.900</p>
                    <p class="text-sm font-bold uppercase">Mega 3</p>
                    <p class="text-xs text-gray-500">
                        6 Presas de Pollo + 2 Pop Corn Mediano (Trocitos de
                        pechuga...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_2488_744x744_1730235977.png?d=600x600&format=webp"
                    alt="Mega Familiar"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 61.900</p>
                    <p class="text-sm font-bold uppercase">Mega Familiar</p>
                    <p class="text-xs text-gray-500">
                        8 Presas de Pollo + 4 Papas Pequeñas
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6069_744x744_1730236034.png?d=600x600&format=webp"
                    alt="Bucket Tradicional"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 62.500</p>
                    <p class="text-sm font-bold uppercase">
                        Bucket Tradicional
                    </p>
                    <p class="text-xs text-gray-500">
                        8 Presas de Pollo + 1 PopCorn Mediano (Trocitos de
                        pechuga...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6421_744x744_1730235903.png?d=600x600&format=webp"
                    alt="Mega Familiar Arepas"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 49.900</p>
                    <p class="text-sm font-bold uppercase">
                        Mega Familiar Arepas
                    </p>
                    <p class="text-xs text-gray-500">
                        8 Presas de Pollo + 8 Arepas
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6560_744x744_1729619722.png?d=600x600&format=webp"
                    alt="Mega Familiar XL"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 74.900</p>
                    <p class="text-sm font-bold uppercase">Mega Familiar XL</p>
                    <p class="text-xs text-gray-500">
                        8 Presas de Pollo + 4 Papas Pequeñas + 4 Ensladas
                        coleslaw
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6618_744x744_1731618284.png?d=600x600&format=webp"
                    alt="Mega Navidad"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 76.900</p>
                    <p class="text-sm font-bold uppercase">Mega Navidad</p>
                    <p class="text-xs text-gray-500">
                        6Presas + 6Alitas(Las alitas picantes hot wings
                        equivalen...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6898_744x744_1708530418.png?d=600x600&format=webp"
                    alt="Trio Supremo"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 56.900</p>
                    <p class="text-sm font-bold uppercase">Trio Supremo</p>
                    <p class="text-xs text-gray-500">
                        4 Presas de Pollo + 9 Alitas Picantes (Las alitas
                        picantes...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_7035_744x744_1730235729.png?d=600x600&format=webp"
                    alt="Medio KFC"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 32.900</p>
                    <p class="text-sm font-bold uppercase">Medio KFC</p>
                    <p class="text-xs text-gray-500">
                        4 Presas de Pollo + 2 Papas Pequeñas
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_7113_744x744_1730236128.png?d=600x600&format=webp"
                    alt="Familiar KFC Arepas"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 62.900</p>
                    <p class="text-sm font-bold uppercase">
                        Familiar KFC Arepas
                    </p>
                    <p class="text-xs text-gray-500">
                        8 Presas de pollo + 10 Arepas + 1 Ensalada Coleslaw
                        Familiar
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="mx-40 text-3xl font-bold text-gray-900">COMBOS</h1>
        </div>
        <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_75_744x744_1719326494.png?d=600x600&format=webp"
                    alt="Combo 2 Presas"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 18.900</p>
                    <p class="text-sm font-bold uppercase">Combo 2 Presas</p>
                    <p class="text-xs text-gray-500">
                        2 Presas de Pollo + 1 Papa Pequeña + 1 Gaseosa PET 400ml
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_78_744x744_1719327257.png?d=600x600&format=webp"
                    alt="Combo 3 Presas"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$19.900</p>
                    <p class="text-sm font-bold uppercase">Combo 3 Presas</p>
                    <p class="text-xs text-gray-500">
                        3 Presas de Pollo + 1 Papa Pequeña + 1 Gaseosa PET 400ml
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_72_744x744_1719329603.png?d=600x600&format=webp"
                    alt="Combo Alitas Picantes"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 24.900</p>
                    <p class="text-sm font-bold uppercase">
                        Combo Alitas Picantes
                    </p>
                    <p class="text-xs text-gray-500">
                        8 Hot Wings (Las alitas picantes hot wings equivalen...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_87_744x744_1719326234.png?d=600x600&format=webp"
                    alt="Combo Pop Corn"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 17.900</p>
                    <p class="text-sm font-bold uppercase">Combo Pop Corn</p>
                    <p class="text-xs text-gray-500">
                        1 Pop Corn Mediano (Trocitos de pechuga de pollo...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_5808_744x744_1719326765.png?d=600x600&format=webp"
                    alt="Combo Casero"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 21.900</p>
                    <p class="text-sm font-bold uppercase">Combo Casero</p>
                    <p class="text-xs text-gray-500">
                        22 Presas+ 1 Papas Pequeñas + 1 Ensalada Colslaw
                        personal...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6492_744x744_1719959826.png?d=600x600&format=webp"
                    alt="Combo Nuggets"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 19.900</p>
                    <p class="text-sm font-bold uppercase">Combo Nuggets</p>
                    <p class="text-xs text-gray-500">
                        10 Nuggets + 1 Papa Pequeña + 1 Gaseosa Pet 400ml...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-50">
        <div class="container mx-auto px-4 py-8">
            <div class="flex justify-between items-center mb-6">
                <h1 class="mx-40 text-3xl font-bold text-gray-900">BOXES</h1>
            </div>
            <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_957_744x744_1730236300.png?d=600x600&format=webp"
                        alt="Big Box Pop Helado"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 30.500</p>
                        <p class="text-sm font-bold uppercase">
                            Big Box Pop Helado
                        </p>
                        <p class="text-xs text-gray-500">
                            1 PopCorn Peq(Trocitos de pechuga apanados)+ 5
                            Alitas...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_4723_744x744_1730236376.png?d=600x600&format=webp   "
                        alt="Big Box Kentucky Sandwich Nuggets"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 30.900</p>
                        <p class="text-sm font-bold uppercase">
                            Big Box Kentucky Sandwich Nuggets
                        </p>
                        <p class="text-xs text-gray-500">
                            1 Kentucky Sandwich (1 Filete de pechuga de pollo
                            apanado...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_5284_744x744_1730236172.png?d=600x600&format=webp"
                        alt="Big Box Kentucky Coronel"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 27.900</p>
                        <p class="text-sm font-bold uppercase">
                            Big Box Kentucky Coronel
                        </p>
                        <p class="text-xs text-gray-500">
                            1 Kentucky Coronel Hamburguesa / Sandwich (1 Filete
                            de...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-50">
            <div class="container mx-auto px-4 py-8">
                <div class="flex justify-between items-center mb-6">
                    <h1 class="mx-40 text-3xl font-bold text-gray-900">
                        PARA 2 PERSONAS
                    </h1>
                </div>
                <div
                    class="grid grid-cols-3 mx-20 justify-between bg-white p-6"
                >
                    <div class="flex">
                        <img
                            src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_3817_744x744_1730236555.png?d=600x600&format=webp"
                            alt="Parte y Comparte Alas"
                            class="size-60 px-8"
                        />
                        <div
                            class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                        >
                            <p class="text-lg font-semibold">$ 46.900</p>
                            <p class="text-sm font-bold uppercase">
                                Parte y Comparte Alas
                            </p>
                            <p class="text-xs text-gray-500">
                                4 Presas de Pollo + 6 Alitas Picantes (Las
                                alitas picantes...
                            </p>
                            <div class="mt-3">
                                <button
                                    class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                    >Agregar</button
                                >
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <img
                            src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_5585_744x744_1730236786.png?d=600x600&format=webp"
                            alt="Parte y Comparte Mixto"
                            class="size-60 px-8"
                        />
                        <div
                            class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                        >
                            <p class="text-lg font-semibold">$ 48.900</p>
                            <p class="text-sm font-bold uppercase">
                                Parte y Comparte Mixto
                            </p>
                            <p class="text-xs text-gray-500">
                                2 Presas + 1 PopCorn Mediano (Trocitos de
                                pechuga...
                            </p>
                            <div class="mt-3">
                                <button
                                    class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                    >Agregar</button
                                >
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <img
                            src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_2169_744x744_1730236685.png?d=600x600&format=webp=600x600&format=webp"
                            alt="Parte y Comparte Presas"
                            class="size-60 px-8"
                        />
                        <div
                            class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                        >
                            <p class="text-lg font-semibold">$ 47.900</p>
                            <p class="text-sm font-bold uppercase">
                                Parte y Comparte Presas
                            </p>
                            <p class="text-xs text-gray-500">
                                5 Presas de Pollo + 2 Papas Pequeñas + 2
                                Gaseosas Pet + 2 Coleslaw
                            </p>
                            <div class="mt-3">
                                <button
                                    class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                    >Agregar</button
                                >
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <img
                            src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6499_744x744_1719960030.png?d=600x600&format=webp"
                            alt="Parte Y Comparte Nuggets"
                            class="size-60 px-8"
                        />
                        <div
                            class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                        >
                            <p class="text-lg font-semibold">$ 39.900</p>
                            <p class="text-sm font-bold uppercase">
                                Parte Y Comparte Nuggets
                            </p>
                            <p class="text-xs text-gray-500">
                                10 Nuggets + 10 Alitas (Las alitas picantes hot
                                wings...
                            </p>
                            <div class="mt-3">
                                <button
                                    class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                    >Agregar</button
                                >
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <img
                            src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_6993_744x744_1719424269.png?d=600x600&format=webp"
                            alt="Wow Duo Deluxe"
                            class="size-60 px-8"
                        />
                        <div
                            class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                        >
                            <p class="text-lg font-semibold">$ 41.900</p>
                            <p class="text-sm font-bold uppercase">
                                Wow Duo Deluxe
                            </p>
                            <p class="text-xs text-gray-500">
                                2 Sandwich Deluxe BBQ (Pan brioche, pechuga de
                                120gr,...
                            </p>
                            <div class="mt-3">
                                <button
                                    class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                    >Agregar</button
                                >
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <img
                            src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_7276_744x744_1720733605.png?d=600x600&format=webp"
                            alt="Wow Duo Deluxe Nuggets"
                            class="size-60 px-8"
                        />
                        <div
                            class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                        >
                            <p class="text-lg font-semibold">$ 48.900</p>
                            <p class="text-sm font-bold uppercase">
                                Wow Duo Deluxe Nuggets
                            </p>
                            <p class="text-xs text-gray-500">
                                2 Sandwich Deluxe BBQ (Pan brioche, pechuga de
                                120gr,...
                            </p>
                            <div class="mt-3">
                                <button
                                    class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                    >Agregar</button
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50">
                <div class="container mx-auto px-4 py-8">
                    <div class="flex justify-between items-center mb-6">
                        <h1 class="mx-40 text-3xl font-bold text-gray-900">
                            SANDWICHES
                        </h1>
                    </div>
                    <div
                        class="grid grid-cols-3 mx-20 justify-between bg-white p-6"
                    >
                        <div class="flex">
                            <img
                                src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_2788_720x720_1660826634.png?d=600x600&format=webp"
                                alt="BBQ Crunch"
                                class="size-60 px-8"
                            />
                            <div
                                class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                            >
                                <p class="text-lg font-semibold">$ 9.900</p>
                                <p class="text-sm font-bold uppercase">
                                    BBQ Crunch
                                </p>
                                <p class="text-xs text-gray-500">
                                    1 Sándwich BBQ Crunch (1 Filete de pollo
                                    apanado)
                                </p>
                                <div class="mt-3">
                                    <button
                                        class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                        >Agregar</button
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <img
                                src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/b2741f8c36fbead8_domicilio_2791_744x744_1719333380.png?d=600x600&format=webp"
                                alt="Combo bbq crunch"
                                class="size-60 px-8"
                            />
                            <div
                                class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                            >
                                <p class="text-lg font-semibold">$ 16.900</p>
                                <p class="text-sm font-bold uppercase">
                                    Combo bbq crunch
                                </p>
                                <p class="text-xs text-gray-500">
                                    1 Sándwich BBQ Crunch (1 Filete de pollo
                                    apanado) + 1 Papa...
                                </p>
                                <div class="mt-3">
                                    <button
                                        class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                        >Agregar</button
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50">
                    <div class="container mx-auto px-4 py-8">
                        <div class="flex justify-between items-center mb-6">
                            <h1 class="mx-40 text-3xl font-bold text-gray-900">
                                INDIVIDUALES
                            </h1>
                        </div>
                        <div
                            class="grid grid-cols-3 mx-20 justify-between bg-white p-6"
                        >
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_111_720x720_1660828126.png?d=600x600&format=webp"
                                    alt="6 Alitas Picantes"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">
                                        $ 13.500
                                    </p>
                                    <p class="text-sm font-bold uppercase">
                                        6 Alitas Picantes
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        6 Alitas Picantes (Las alitas picantes
                                        hot wings equivalen...
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_116_720x720_1660826706.png?d=600x600&format=webp"
                                    alt="PopCorn Grande"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">
                                        $ 24.900
                                    </p>
                                    <p class="text-sm font-bold uppercase">
                                        PopCorn Grande
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        1 PopCorn Grande - 16 oz aprox (Trocitos
                                        de pechuga de pollo apanados)
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_114_720x720_1660826885.png?d=600x600&format=webp"
                                    alt="9 Alitas Picantes"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">
                                        $ 18.900
                                    </p>
                                    <p class="text-sm font-bold uppercase">
                                        9 Alitas Picantes
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        9 Alitas Picantes (Las alitas picantes
                                        hot wings equivalen...
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_120_720x720_1660826742.png?d=600x600&format=webp"
                                    alt="popcorn mediano"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">
                                        $ 11.500
                                    </p>
                                    <p class="text-sm font-bold uppercase">
                                        popcorn mediano
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        1 PopCorn Mediano - 6 oz. aprox
                                        (Trocitos de pechuga ...
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_266_720x720_1660826794.png?d=600x600&format=webp"
                                    alt="PopCorn Pequeno"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 9.500</p>
                                    <p class="text-sm font-bold uppercase">
                                        PopCorn Pequeno
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        1 PopCorn Pequeño - 4 oz aprox (Trocitos
                                        de pechuga...
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_108_720x720_1660826826.png?d=600x600&format=webp"
                                    alt="20 Alitas Picantes"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">
                                        $ 38.900
                                    </p>
                                    <p class="text-sm font-bold uppercase">
                                        20 Alitas Picantes
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        20 Alitas Picantes (Las alitas picantes
                                        hot wings equivalen...
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_6502_744x744_1699894717.png?d=600x600&format=webp"
                                    alt="Adicion 5 nuggets"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 9.900</p>
                                    <p class="text-sm font-bold uppercase">
                                        Adicion 5 nuggets
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        5 Nuggets
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_6505_744x744_1699894754.png?d=600x600&format=webp"
                                    alt="Adicion 10 Nuggets"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">
                                        $ 14.900
                                    </p>
                                    <p class="text-sm font-bold uppercase">
                                        Adicion 10 Nuggets
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        10 Nuggets
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50">
                    <div class="container mx-auto px-4 py-8">
                        <div class="flex justify-between items-center mb-6">
                            <h1 class="mx-40 text-3xl font-bold text-gray-900">
                                BEBIDAS Y COMPLEMENTOS
                            </h1>
                        </div>
                        <div
                            class="grid grid-cols-3 mx-20 justify-between bg-white p-6"
                        >
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_350_720x720_1660830719.png?d=600x600&format=webp"
                                    alt="PAPA GRANDE"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 7.500</p>
                                    <p class="text-sm font-bold uppercase">
                                        PAPA GRANDE
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        1 Papa a la francesa Grande - 140 gr.
                                        aprox
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_39_720x720_1660828578.png?d=600x600&format=webp"
                                    alt="Ensalada Col Slaw Grande"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 8.900</p>
                                    <p class="text-sm font-bold uppercase">
                                        Ensalada Col Slaw Grande
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        Ensalada Coleslaw Grande
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_47_744x744_1681412601.png?d=600x600&format=webp"
                                    alt="Papa Pequeña"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 5.900</p>
                                    <p class="text-sm font-bold uppercase">
                                        Papa Pequeña
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        1 Papa a la francesa Pequena - 70 gr.
                                        aprox
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_258_720x720_1660830235.png?d=600x600&format=webp"
                                    alt="Ensalada ColSlaw Personal"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 3.900</p>
                                    <p class="text-sm font-bold uppercase">
                                        Ensalada ColSlaw Personal
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        Ensalada ColSlaw Personal
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_152_744x744_1719335027.png?d=600x600&format=webp"
                                    alt="Gaseosa Pet 400 Ml"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 4.100</p>
                                    <p class="text-sm font-bold uppercase">
                                        Gaseosa Pet 400 Ml
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        Gaseosa Pet 400 Ml
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_63_720x720_1660828417.png?d=600x600&format=webp"
                                    alt="3 Presas"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">
                                        $ 21.900
                                    </p>
                                    <p class="text-sm font-bold uppercase">
                                        3 Presas
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        3 Presas de Pollo
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_3695_720x720_1660828443.png?d=600x600&format=webp"
                                    alt="12 Arepas"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 8.900</p>
                                    <p class="text-sm font-bold uppercase">
                                        12 Arepas
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        12 Arepas
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                            <div class="flex">
                                <img
                                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_4499_720x720_1660834454.png?d=600x600&format=webp"
                                    alt="Mr Tea"
                                    class="size-60 px-8"
                                />
                                <div
                                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                                >
                                    <p class="text-lg font-semibold">$ 4.900</p>
                                    <p class="text-sm font-bold uppercase">
                                        Mr Tea
                                    </p>
                                    <p class="text-xs text-gray-500">
                                        1 Mr Tea
                                    </p>
                                    <div class="mt-3">
                                        <button
                                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                            >Agregar</button
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="mx-40 text-3xl font-bold text-gray-900">POSTRES</h1>
        </div>
        <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_3687_744x744_1678488094.png?d=600x600&format=webp"
                    alt="Avalancha Oreo"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 8.900</p>
                    <p class="text-sm font-bold uppercase">Avalancha Oreo</p>
                    <p class="text-xs text-gray-500">
                        Helado de Vainilla + Salsa de Arequipe + Topping de Oreo
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_3837_744x744_1678491043.png?d=600x600&format=webp"
                    alt="Avalancha Oreo Promo"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 15.600</p>
                    <p class="text-sm font-bold uppercase">
                        Avalancha Oreo Promo
                    </p>
                    <p class="text-xs text-gray-500">
                        2 Avalanchas Oreo (Helado de Vainilla + Salsa de
                        Arequipe...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_4338_744x744_1678491204.png?d=600x600&format=webp"
                    alt="3 Avalanchas Oreo"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 21.600</p>
                    <p class="text-sm font-bold uppercase">3 Avalanchas Oreo</p>
                    <p class="text-xs text-gray-500">
                        3 Avalanchas Oreo (Helado de Vainilla + Salsa de
                        Arequipe ...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_4486_744x744_1678487100.png?d=600x600&format=webp"
                    alt="Sundae Arequipes"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 5.900.</p>
                    <p class="text-sm font-bold uppercase">Sundae Arequipe</p>
                    <p class="text-xs text-gray-500">
                        Helado de Vainilla + Arequipe
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
            <div class="flex">
                <img
                    src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_6347_744x744_1699895534.png?d=600x600&format=webp"
                    alt="Sundae de Chocolate"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 5.900</p>
                    <p class="text-sm font-bold uppercase">
                        Sundae de Chocolate
                    </p>
                    <p class="text-xs text-gray-500">
                        Helado de Vainilla + Chocolote
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-50">
        <div class="container mx-auto px-4 py-8">
            <div class="flex justify-between items-center mb-6">
                <h1 class="mx-40 text-3xl font-bold text-gray-900">
                    KRUNCKY PROMOS
                </h1>
            </div>
            <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_2788_720x720_1660826634.png?d=600x600&format=webp"
                        alt="BBQ Crunch"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 9.900</p>
                        <p class="text-sm font-bold uppercase">BBQ Crunch</p>
                        <p class="text-xs text-gray-500">
                            1 Sándwich BBQ Crunch (1 Filete de pollo apanado)
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_2791_744x744_1719333380.png?d=600x600&format=webp"
                        alt="Combo bbq crunch"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 16.900</p>
                        <p class="text-sm font-bold uppercase">
                            Combo bbq crunch
                        </p>
                        <p class="text-xs text-gray-500">
                            1 Sándwich BBQ Crunch (1 Filete de pollo apanado)
                            ...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_4864_744x744_1719335140.png?d=600x600&format=webp"
                        alt="Wow Box BBQ Pop"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 22.900</p>
                        <p class="text-sm font-bold uppercase">
                            Wow Box BBQ Pop
                        </p>
                        <p class="text-xs text-gray-500">
                            1 Sándwich BBQ Crunch (1 Filete de pollo apanado)
                            ...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_4866_744x744_1719335359.png?d=600x600&format=webp"
                        alt="Wow Box Duo"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 35.900</p>
                        <p class="text-sm font-bold uppercase">Wow Box Duo</p>
                        <p class="text-xs text-gray-500">
                            2 Sándwiches BBQ Crunch (c/u 1 Filete de pollo
                            apanado...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_7370_744x744_1730836525.png?d=600x600&format=webp"
                        alt="Almuerzo kfc"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 14.900</p>
                        <p class="text-sm font-bold uppercase">Almuerzo kfc</p>
                        <p class="text-xs text-gray-500">
                            2 presas + 3 arepas + 1 ensalada coleslaw pequeña +
                            1 Gaseosa Pet
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <img
                        src="https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_7367_744x744_1725294458.png?d=600x600&format=webp"
                        alt="Wow Box Trio"
                        class="size-60 px-8"
                    />
                    <div
                        class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                    >
                        <p class="text-lg font-semibold">$ 52.800</p>
                        <p class="text-sm font-bold uppercase">Wow Box Trio</p>
                        <p class="text-xs text-gray-500">
                            3 Sándwiches BBQ Crunch (c/u 1 Filete de pollo
                            apanado) ...
                        </p>
                        <div class="mt-3">
                            <button
                                class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                                >Agregar</button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-gray-50">
    <div class="container mx-auto px-4 py-8">
        <div class="flex justify-between items-center mb-6">
            <h1 class="mx-40 text-3xl font-bold text-gray-900">
                KFC GAMING
            </h1>
        </div>
        <div class="grid grid-cols-3 mx-20 justify-between bg-white p-6">
            <div class="flex">
                <img
                    src=https://images.getduna.com/5fe6067e-0e11-4869-9118-ad3dcc8765c2/dfac123caf2e4e36_domicilio_6982_744x744_1714151500.png?d=600x600&format=webp
                    alt="Combo Fuego"
                    class="size-60 px-8"
                />
                <div
                    class="py-4 sm:px-1 flex flex-col justify-center min-36 h-36"
                >
                    <p class="text-lg font-semibold">$ 25.900</p>
                    <p class="text-sm font-bold uppercase">
                        Combo Fuego
                    </p>
                    <p class="text-xs text-gray-500">
                        1 Popcorn mediano + 4 Alitas Picantes + 1 Papa Pequeña ...
                    </p>
                    <div class="mt-3">
                        <button
                            class="bg-black text-white rounded-full px-4 h-8 hover:bg-gray-800"
                            >Agregar</button
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
